
  .hover, .rotate, .translatex, .translateY, .threeD, .skew, .scale {

    width: 100px;
    line-height: 0;
    padding: 50px 0;
    margin: 50px auto;
    background-color: violet;
    border-radius: 50px;
    cursor: pointer; 
    color: white;
    -moz-transition-property: all;
    -moz-transition-duration: 2s;
    -moz-transition-delay:0s ;
    -moz-transition-timing-function: ease-in-out;
    transition-property: color, background-color, transform;
    transition-duration: 2s; 
    transition-delay: 0s;
    transition-timing-function: ease-in-out;
    
}
.hover:hover{
    color: blueviolet;
    background-color: cadetblue;
}

.rotate:hover{
    color: cornflowerblue;
    background-color: lightgreen;
    transform: rotate(360deg);
}
.skew:hover{
    color: lemonchiffon;
    background-color: red ;
    transform: skewX(10deg)
}
.translatex:hover{
    color: lemonchiffon;
    background-color: red ;
    transform: translateX(40px)
}
.translateY:hover{
    color: lemonchiffon;
    background-color: red ;
    transform: translateY(40px)
}
.scale:hover{
    color: lemonchiffon;
    background-color: red ;
    transform: scale(2,3)

}
.threeD:hover{
    color: lemonchiffon;
    background-color: red ;
    transform: rotate3d(1, 1, 1, 360deg)


}